version_info: '0'
resources:
  - "@type": type.googleapis.com/envoy.config.cluster.v3.Cluster
    name: account_service
    connect_timeout: 5s
    type: STRICT_DNS
    # Comment out the following line to test on v6 networks
    dns_lookup_family: V4_ONLY
    lb_policy: ROUND_ROBIN
    typed_extension_protocol_options:
      envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
        "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
        explicit_http_config:
          http2_protocol_options: {}
    load_assignment:
      cluster_name: account_service
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address: { address: host.docker.internal, port_value: 5000 } # for docker-4-mac
                  # socket_address: { address:  account.default.svc.cluster.local, port_value: 5000 } # for k8s
    transport_socket:
      name: envoy.transport_sockets.tls
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
        common_tls_context:
          alpn_protocols: [ 'h2', 'http/1.1' ]
          validation_context:
            trusted_ca: { filename: '/etc/certs/upstream-ca-cert.pem' }
            match_subject_alt_names: { exact: 'localhost' } # for prod, e.g., www.sumo.com
  - "@type": type.googleapis.com/envoy.config.cluster.v3.Cluster
    name: echo_service
    connect_timeout: 5s
    type: STRICT_DNS
    # Comment out the following line to test on v6 networks
    dns_lookup_family: V4_ONLY
    lb_policy: ROUND_ROBIN
    typed_extension_protocol_options:
      envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
        "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
        explicit_http_config:
          http2_protocol_options: {}
    load_assignment:
      cluster_name: echo_service
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address: { address: host.docker.internal, port_value: 5000 } # for docker-4-mac
                  # socket_address: { address:  account.default.svc.cluster.local, port_value: 5000 } # for k8s
    transport_socket:
      name: envoy.transport_sockets.tls
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
        common_tls_context:
          alpn_protocols: [ 'h2', 'http/1.1' ]
          validation_context:
            trusted_ca: { filename: '/etc/certs/upstream-ca-cert.pem' }
            match_subject_alt_names: { exact: 'localhost' } # for prod, e.g., www.sumo.com
  - "@type": type.googleapis.com/envoy.config.cluster.v3.Cluster
    name: echo_service2
    connect_timeout: 5s
    type: EDS
    eds_cluster_config:
      service_name: echo_service2
      eds_config: { path: '/etc/envoy/endpoints.yaml' }
    lb_policy: ROUND_ROBIN
    typed_extension_protocol_options:
      envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
        "@type": type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions
        explicit_http_config:
          http2_protocol_options: {}
